body {
  margin: 0;
  font-family: sans-serif;
}
.sidebar {
  transition: 0.5s ease-in-out;
  width: 5vw;
/*   overflow: clip; */
overflow: hidden;
white-space: nowrap;
  background-color: red;
  height: 100vh;
  position: absolute;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
 
}
.sidebar:hover {
  width: 40vw;
}

.icon {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 5vw;
  text-align: center;
}

.sidebar-button {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.sidebar:hover .sidebar-button {
  opacity: 1;
}